*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 a{
    text-decoration: none;
    color: inherit;
 }
 
 :root{
    --primary-color: #f5cf06;
    --secundary-color: #8e4106;
 }
 
 body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
    font-family: "Righteous", sans-serif;
 }
 
 header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
 }
 
 header div{
    display: flex;
    gap: 16px;
 }
 
 header a{
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
    font-size: 24px;
    color: var(--secundary-color);
 }
 main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 
 .title{
    text-align: center;
    position: relative;
 }
 
 .title h1{
    font-size: 20vw;
    color: white;
 }
 
 .title span{
    font-size: 25vw;
    color: white;
    opacity: 0.3;
    position: absolute;
    top: -40%;
    left: 0;
 }
 
 .container{
    height: 200px;
    display: flex;
    z-index: 1;
 }
 
 .description{
    width: 50%;
    color: var(--secundary-color);
 }
 
 .description h2{
    font-size: 64px;
 }
 
 .description p{
    font-size: 20px;
    width: 500px;
 }
 
 .action{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .action a{
    background-color: var(--secundary-color);
    height: 100px;
    width: 400px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 }
 
 footer{
    height: 50px;
    color: var(--secundary-color);
    font-style: italic;
    text-align: center;
 }
 
 .pikachu-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
 }

 /*Tablet*/

@media (max-width: 960px) {
   body{
      padding-inline: 32px;
      padding-bottom: 16px;
   }
   main{
      justify-content: space-between;
   }
   footer{
     /*tirando footer*/
     display: none;

   }
   .pikachu-image{
      height: 50vh;
   }
   .container{
      /*colocando texto e botao um em cima do outro*/
      flex-direction: column;
      align-items: center;
      height: auto;
      text-align: center;
      gap: 16px;
   }
   .description{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center
   }
}
